:root
  --color-primary: #324AB2
  --color-onPrimary: #fff
  --color-background: #fff

  --color-font: #000

body
  margin: 0
  padding: 0

p, h1, h2, h3, a
  color: var(--color-font)

button
  background-color: var(--color-primary)
  color: var(--color-onPrimary)
  border-radius: 5px
  padding: 5px 20px
  cursor: pointer
  &.onPrimary
    background-color: var(--color-onPrimary)
    color: var(--color-primary)
  &.icon-button
    padding: 5px


header
  background-color: var(--color-primary)
  h3
    color: var(--color-onPrimary)
    font-size: 30px
    margin: 0

.leaflet-control-attribution
  display: none
.leaflet-fade-anim .leaflet-popup
  transition: none

.f-r
  display: flex
  flex-direction: row

.f-c
  display: flex
  flex-direction: column
